{% extends "base.html" %}

<title>{% block title %} Make your booking {% endblock %}</title>

{% block content %}

<form method="POST">
    <h3 align='center'>Book a service</h3>
    <div class='form-group'>
        <label for="service">Service required</label>
        <br />
        <select class='form-control' name="service" id="service" required>
            <option value="" disabled selected>Service</option>
            {% for key in services %}
            {{key.replace(" ","&nbsp")}}
            <option> {{key}} </option>
            {% endfor %}
        </select>
    </div>
    <div class='form-group'>
        <label for="vehicle">Select your vehicle</label>
        <br />
        <select class='form-control' name="vehicle" id="vehicle" required>
            <option value="" disabled selected>Vehicle</option>
            {% for car in cars %}
            <option value={{car.license_plate}}> {{str(car.make) + " - " + str(car.license_plate)}} </option>
            {% endfor %}
        </select>
    </div>
    <div class='form-group'>
        <label for="date">Date</label>
        <input type='date' class='form-control' name='date' required id='date' placeholder="Date" />
    </div>
    <div class='form-group'>
        <label for="comments">Additional Comments</label>
        <textarea class='form-control' name='comments' id='comments'></textarea>
    </div>
    <br />
    <button type='submit' class="btn btn-primary">Book</button>
</form>

{% endblock %}